# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

backend_python/venv/
backend_python/.env
backend_python/__pycache__/
backend_python/*.pyc
backend_python/*.pyo
backend_python/*.pyd
backend_python/.pytest_cache/
backend_python/migrations/versions/
backend_python/.idea/
backend_python/.vscode/
backend_python/instance/
Thumbs.db
ehthumbs.db
Desktop.ini
frontend_flutter/.dart_tool/
frontend_flutter/.flutter-plugins
frontend_flutter/.flutter-plugins-dependencies
frontend_flutter/build/
frontend_flutter/.idea/
frontend_flutter/.vscode/
frontend_flutter/*.log
.env

.vscode/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
